config audiowrt 'main'
	option enabled '1'
	option initialized '0'
	option provisioning '1'
	option device_name 'AudioWRT'
	option setup_ip '192.168.77.1'
	option setup_timeout '45'
	option audio_ready '0'
	option audio_device ''
	option audio_card ''
	option audio_pcm ''
	option wifi_ssid ''
	option last_error ''
