CONFIG_HAVE_DOT_CONFIG=y
CONFIG_DESKTOP=n
CONFIG_EXTRA_COMPAT=n
CONFIG_FEATURE_BUFFERS_USE_MALLOC=y
CONFIG_LONG_OPTS=n
CONFIG_SHOW_USAGE=n
CONFIG_FEATURE_VERBOSE_USAGE=n
CONFIG_FEATURE_COMPRESS_USAGE=n
CONFIG_FEATURE_IPV6=n
CONFIG_FEATURE_SYSLOG=y
CONFIG_UDHCPD=y
CONFIG_FEATURE_UDHCPD_BOOTP=n
CONFIG_FEATURE_UDHCPD_BASE_IP_ON_MAC=n
CONFIG_FEATURE_UDHCPD_WRITE_LEASES_EARLY=n
CONFIG_DHCPD_LEASES_FILE="/tmp/udhcpd.leases"
CONFIG_UDHCPC=n
CONFIG_DUMPLEASES=n
CONFIG_DHCPRELAY=n
