config renderer 'main'
	option enabled '1'
	option name 'AudioWRT'
	option interface 'lan'
	option player_dir '/usr/share/audiowrt/dlna/players'
	option runtime_dir '/var/run/audiowrt-dlna'

# Custom mappings are added as:
# config player
#	option codec 'flac'
#	option command '/usr/bin/custom-player'
#	option mime 'audio/flac audio/x-flac'
#	option extensions 'flac'
